@model OdeToFood.ViewModels.HomeIndexViewModel

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title></title>
</head>
<body>
	<h1>@Model.CurrentMessage</h1>
	<table>
		@foreach (var item in Model.Restaurants)
		{
		<tr>
			<td>@item.Id</td>
			<td>@item.Name</td>
			@*<td>@Html.ActionLink("Details", "Details", new { id = item.Id })</td>*@
			<td>
				<a asp-action="Details" asp-route-id="@item.Id">Details</a>
			</td>
		</tr>
		}
	</table>
</body>
</html>
