@model OdeToFood.ViewModels.HomeIndexViewModel

@{
	ViewBag.Title = "Home page";
}


<h1>All restaurants</h1>
<table>
	@foreach (var item in Model.Restaurants)
	{
		<tr>
			<td>@item.Id</td>
			<td>@item.Name</td>
			@*<td>@Html.ActionLink("Details", "Details", new { id = item.Id })</td>*@
			<td>
				<a asp-action="Details" asp-route-id="@item.Id">Details</a>
			</td>
		</tr>
	}
</table>
<a asp-action="Create">Add restaurant</a>

@section footer {
	@Model.CurrentMessage
}
